.block {
	height: 20px;
	width: 20px;
	float: left;
	border-style: dotted;
	border-width: 1px;
	background-color: white;
}
.tile {
	height: 20px;
	width: 20px;
	float: left;
	border-style: dotted;
	border-width: 1px;
}
.winLine {
	height: 20px;
	width: 20px;
	float: left;
	border-style: dotted;
	border-width: 1px;
}
#hidder {
	width: 226px;
	height: 44px;
	background-color: gray;
	z-index: 20;
	top: -548px;
	left: 287px;
	border-style: solid;
	border-color: black;
	border-width: 0px;
	border-top-width: 2px;
	border-bottom-width: 3px;
	position: relative;
}
#play-screen {
	z-index: 1;
	height: 484px;
	border-style: solid;
	border-width: 3px;
	width: 220px;
	margin: auto;
}
#button {
	margin-top: 50px;
}
.set{
	height: 20px;
	width: 20px;
	float: left;
	border-style: dotted;
	border-width: 1px;
}
#wrapper {
	background-color: gray;
	border-style: solid;
	border-width: 4px;
	width: 800px;
}
.arrow {
	height: 28px;
	border-style: solid;
	border-width: 2px;
}
#start {
	font-size: 36px;
	position: relative;
	top: -250px;
	left: 600px;
}
#downButton {
	position: relative;
	top: -250px;
	left: 473px;
}
#leftButton {
	position: relative;
	top: -300px;
	left: 510px;
}
#rightButton {
	position: relative;
	top: -300px;
	left: 590px;
}
#turnTile {
	position: relative;
	top: -300px;
	left: 629px;
}
#level-tally {
	font-size: 24px;
	margin: auto;
	text-align: center;
}

#level-text {
	font-size: 24px;
	margin: auto;
	text-align: center;
}

