.block {
	z-index: 8;
	height: 20px;
	width: 20px;
	float: left;
	border-style: dotted;
	border-color: transparent;
	border-width: 1px;
}
.tile {
	height: 20px;
	width: 20px;
	float: left;
	border-color: #d7ceb2;
	border-style: dotted;
	border-width: 1px;
	z-index: 8;
}
#side-screen {
	float: left;
	position: relative;
	border-style: groove;
	border-width: 4px;
	border-color: #d7ceb2;
	outline-color: gray;
	top: -375px;
	left: 30px;
	height: 300px;
	width: 160px;
	background-image: url(images/blackback.jpg);
	background-size: cover;
	margin-left: 30px;
}
.winLine {
	height: 20px;
	width: 20px;
	float: left;
	border-style: dotted;
	border-width: 1px;
	z-index: 8;
}
#hidder {
	width: 232px;
	height: 44px;
	background-image: url(images/background.jpeg);
	z-index: 20;
	top: -494px;
	left: 286px;
	border-style: groove;
	outline-color: gray;
	border-bottom-color: #d7ceb2;
	border-top-color: #d7ceb2;
	border-width: 0px;
	border-top-width: 2px;
	border-bottom-width: 5px;
	position: relative;
}
#play-screen {
	z-index: 10;
	height: 484px;
	text-align: center;
	font-size: 30px;
	color: #d7ceb2;
	outline-color: gray;
	border-style: groove;
	border-width: 4px;
	border-color: #d7ceb2;
	width: 220px;
	background-image: url(images/blackback.jpg);
	background-size: cover;
	margin: auto;
	z-index: 20;
}
#title {
	height: 94px;
	border-style: groove;
	border-width: 0px;
	border-bottom-width: 4px;
	border-color: #d7ceb2;
	outline-color: gray
}
.set{
	height: 20px;
	width: 20px;
	float: left;
	border-style: dotted;
	border-width: 1px;
	z-index: 8;
}
#wrapper {
	background-image: url(images/background.jpeg);
	border-style: solid;
	border-top-width: 6px;
	border-right-width: 6px;
	border-left-width: 6px;
	border-color: #d7ceb2;
	width: 800px;
	z-index: -20;
	margin:auto;
	height: 600px;
	border-bottom-width: 0px;
}
#start {
	height: 100px;
	font-size: 36px;
	position: relative;
	top: -350px;
	left: 380px;
}
.button {
	border-style: solid;
	border-width: 2px;
}
#downButton {
	position: relative;
	top: -225px;
	left: 210px;
	height: 65px;
}
#leftButton {
	position: relative;
	top: -300px;
	left: 270px;
	width: 65px;
}
#rightButton {
	position: relative;
	top: -300px;
	left: 365px;
	width: 65px;
}
#turnTile {
	position: relative;
	top: -300px;
	left: 428px;
	height: 65px;
}
#level-tally {
	font-size: 24px;
	margin: auto;
	text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
	color: #d7ceb2;
	font: 24px 'BazarMedium';
	text-align: center;
}

#level-text {
	text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
	color: #d7ceb2;
	font: 24px 'BazarMedium';
	text-align: center;
}
#footer {
	background-image: url(images/footer.jpg);
	background-size: cover;
	margin: auto;
	font-size: 16px;
	font-weight: bold;
	border-width: 5px;
	padding-top: 5px;
	border-style: solid;
	border-color: #d7ceb2;
	border-top-color: black;
	width: 792px;
	height: 40px;
	color: black;
	text-align: right;
	padding-right: 10px;

}
#back {
	background-color: black;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
}


