.block {
	z-index: 8;
	height: 20px;
	width: 20px;
	float: left;
	border-style: solid;
	border-color: transparent;
	border-width: 1px;
}
.tile {
	height: 20px;
	width: 20px;
	border-color: gray;
	float: left;
	outline-color: white;
	border-style: groove;
	border-width: 1px;
	z-index: 8;
}
#side-screen {
	float: left;
	position: relative;
	border-style: groove;
	border-width: 4px;
	border-color: #d7ceb2;
	outline-color: black;
	top: -375px;
	left: 30px;
	height: 300px;
	width: 195px;
	background-image: url(images/blackback.jpg);
	background-size: cover;
	margin-left: 15px;
}
.winLine {
	height: 20px;
	width: 20px;
	float: left;
	border-style: dotted;
	border-width: 1px;
	z-index: 8;
}
#hidder {
	width: 229px;
	height: 44px;
	background-image: url(images/background.jpeg);
	background-size: cover;
	z-index: 20;
	top: -494px;
	left: 286px;
	border-style: groove;
	outline-color: black;
	border-bottom-color: #d7ceb2;
	border-top-color: #d7ceb2;
	border-width: 0px;
	border-top-width: 2px;
	border-bottom-width: 5px;
	position: relative;
}
#play-screen {
	height: 484px;
	text-align: center;
	font-size: 30px;
	border-color: #d7ceb2;
	color: #d7ceb2;
	outline-color: black;
	border-width: 4px;
	border-style: groove;
	width: 220px;
	background-image: url(images/blackback.jpg);
	background-size: cover;
	margin: auto;
	z-index: 20;
}
audio {width: 195px}
#title {
	height: 115px;
	border-style: groove;
	border-width: 0px;
	border-bottom-width: 4px;
	border-color: #d7ceb2;
	outline-color: gray
}
.set{
	height: 20px;
	width: 20px;
	float: left;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	z-index: 8;
	opacity: 0.7;
}
#wrapper {
	background-image: url(images/background.jpeg);
	border-top-width: 5px;
	border-right-width: 5px;
	border-left-width: 5px;
	outline-color: black;
	border-color: #d7ceb2;
	width: 800px;
	border-style: groove;
	z-index: -20;
	margin:auto;
	height: 570px;
	border-bottom-width: 0px;
}
#start {
	height: 100px;
	font-size: 36px;
	position: relative;
	top: -350px;
	left: 365px;
}
.button {
	border-style: solid;
	border-color: black;
	border-width: 2px;
}
#downButton {
	position: relative;
	top: -225px;
	left: 190px;
	height: 65px;
}
#leftButton {
	position: relative;
	top: -300px;
	left: 250px;
	width: 65px;
}
#rightButton {
	position: relative;
	top: -300px;
	left: 345px;
	width: 65px;
}
#turnTile {
	position: relative;
	top: -300px;
	left: 408px;
	height: 65px;
}
#level-tally {
	font-size: 24px;
	margin: auto;
	text-shadow: 3px 3px 0px #2c2e38;
	color: #d7ceb2;
	font: 24px 'BazarMedium';
	text-align: center;
	margin-top: 25px;

}

#level-text {
	text-shadow: 3px 3px 0px #2c2e38;
	color: #d7ceb2;
	float: left;
	font: 24px 'BazarMedium';
	margin-left: 30px;

}
#footer {
	background-image: url(images/footer.jpg);
	background-size: cover;
	margin: auto;
	font-size: 16px;
	font-weight: bold;
	font: 'BazarMedium';
	border-width: 5px;
	padding-top: 5px;
	border-style: groove;
	border-color: #d7ceb2;
	outline-color: #d7ceb2;
	border-top-color: black;
	width: 792px;
	height: 40px;
	color: black;
	text-align: right;
	padding-right: 10px;

}
#back {
	background-color: black;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
	height: 1000px;
}
#score {
	font-size: 18px;
	color: white;
	text-align: center;
	margin-top: 12px;
	padding: 4px;
	margin-right: 15px;
	margin-left: 15px;
	background-image: url(images/redback.jpg);
	border-color: #d7ceb2;
}
#yourscore {
	color: #d7ceb2;
	font: 20px 'BazarMedium';
	text-align: center;
	clear: both;
}
.pauser {
	position: relative;
	background-color: black;
	font: 20px 'BazarMedium';
	color: #d7ceb2;
	top: -400px;
	left: 120px;
}
@-ms-viewport {
	width: device-width;
}
@viewport {
  min-width: 800px;
  max-width: 800px;
}
@viewport {
  zoom: 0.5;
  min-zoom: 0.5;
  max-zoom: 0.5;
}
@viewport {
  orientation: landscape;
}
@-webkit-viewport {
	width: device-width;
}
@-webkit-viewport {
  min-width: 800px;
  max-width: 800px;
}
@-webkit-viewport {
  zoom: 0.5;
  min-zoom: 0.5;
  max-zoom: 0.5;
}
@-webkit-viewport {
  orientation: landscape;
}

